.country__container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}
.country__box{
    margin: 0.5rem 1rem;
    position:relative;
    width: 100%;
}
 .country__box img {
 width:100%
     } 
.country__box p{
    color: ivory;
    font-size: 2.5rem;
    position:absolute ;
    top:38%;
    left: 25%;
    text-shadow: 2px 2px 2px black;

     }
