.destino__container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}
.destino__box{
    margin: 0.5rem 1rem;
    position:relative;
    width: 100%;
}
 .destino__box img {
     position:relative;
 width:100%
     } 
.destino__box p{
    color: ivory;
    font-size: 2.5rem;
    position:absolute ;
    top:0;
    left:0;
    text-shadow: 2px 2px 2px black;
     }
.catalogo_container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
 
}
.catalogo__box{
    background-size: cover;
    margin: 1rem 0rem;
    position:relative;
    width: 100vw;
    height: 15rem;

}
.catalogo__box img{
    display:block;
    position: relative;
    width: 100vw;
}
.catalogo__box__link{
    color:ivory;
    font-size: 2rem;
    left:0;
    text-shadow:2px 2px 2px black;
    top:0;

}
