.menubar{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    margin-bottom: 0.5rem;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 3;
}
.menubar__image{
    height: 90%;
    margin: 0.5rem;
}
.modal__icon__openModal{
    height: 80%;
    margin-right: 0.5rem;
}
