.menubar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 12vh;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 3;
    background-color: black;
}
.menubar__image{
    height: 90%;
    margin: 1rem;
}
.modal__icon__openModal{
    height: 50%;
    margin: 0.5rem 1rem 0 0;
}
