.oferta__container{
    margin-top: 4rem;
}
.compra__imagen{
    height: 3rem;
}
.compra__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#formulario {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h2{
        margin: 2rem 0 1rem;
    }
   
    & label{
        font-size: 1.4rem;
    }
    & textarea{
        background-color:lighten($color: $gold, $amount: 15);
        font-size: 1.2rem;
        margin: 1rem;
        resize:none;
    }
}
.formulario__input{
    background-color:lighten($color: $gold, $amount: 15);
    margin: 0 0 1rem ;
    padding: 0.5rem;
    width: 15rem;
}
.formulario__box{
    padding: 2rem 1rem;
}

