.oferta__container{
    margin-top: 6rem;
}
.compra__imagen{
    height: 3rem;
}
.compra__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#formulario {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    & h2{
        margin: 0.5rem 0 1rem;
    }
    & textarea{
        background-color:lighten($color: $gold, $amount: 15);
        margin: 1rem;
        resize:none;
    }
}
.img__form{
    position: fixed;
    margin: 0.5rem;
    top:0;
    right: 0;
}
.formulario__input{
    background-color:lighten($color: $gold, $amount: 15);
    margin: 0 0 1rem ;
    padding: 0.3rem;
    width: 15rem;
}
.formulario__box{
    padding: 2rem 1rem;
}

@media (min-width: 750px) {
    .oferta__container{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 15rem;
    }
    .oferta__box{
        width: 20rem;
    }
}