.customFooter{
    align-items: center;
    background-color: black;
    color:$gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin :2rem 0;
}
.agencia{
    height: 90%;
    margin: 2rem 0;
    padding: 0.5rem;
    width: 80%;

}
.contacto{
    background-color: $gold;
    color:black;
    padding: 1rem;
    list-style: none;
    & h2{
        margin-bottom: 1rem;
    }
}
.footer__icon{
    margin-right: 0.2rem;
    width: 1.3rem;
}

 iframe{
        margin: 0 0 1rem;
    }

