.nosotros{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    & h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    & img{
        width:10rem;
        margin:0  3rem 1rem;
    }
    & p{
        margin: 0 2rem;
    }
}