.video__container{
      position: absolute;
    text-align: center;
    width: 100vw;
    height: 100vh;
    &, video, .viewport-header {
      @include coverer;
  }
}
video{
      object-fit: cover;
}